/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Lattes - One page multi purpose page
Version:	1.0
Last change:	17/08/2015 [...]
Designed by:	MOOZ Themes / www.MOOZthemes.com
Primary use:	One page

[Table of contents]

1. General
2. Header
3. Navigation
4. Sections
5. Footer
6. Components

[Color codes]

Buttons, etc:	#726FB9 (blue)
hover color:	#fed136 (yellow)
-------------------------------------------------------------------*/

/*--------------------
Import Google Fonts
--------------------*/

/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
/* font for headings, text, tags */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400italic&subset=latin,latin-ext);

/*--------------------
1. General
--------------------*/

body {
  margin: 0px;
    font-family: "Open Sans", Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 300;
    letter-spacing: 0.4px;
    font-family: "Open Sans", Sans-serif;
    color: #232323;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
	line-height: 23px;
    letter-spacing: 0.2px;
    color: #797979;
}

a:hover, a:focus, a:active, a.active {
    color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}

::selection {
    text-shadow: none;
    background: #711dbe;
	color:#fff;
}

@media (min-width: 768px) {
	section {
	    padding: 150px 0;
	}
}

section {
    padding: 70px 0;
}

/*--------------------
2. Navigation
--------------------*/

.navbar-default {
	/* background: rgba(125,46,209,1);
		background: -moz-linear-gradient(top, rgba(125,46,209,1) 0%, rgba(162,108,220,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(125,46,209,1)), color-stop(100%, rgba(162,108,220,1)));
		background: -webkit-linear-gradient(top, rgba(125,46,209,1) 0%, rgba(162,108,220,1) 100%);
		background: -o-linear-gradient(top, rgba(125,46,209,1) 0%, rgba(162,108,220,1) 100%);
		background: -ms-linear-gradient(top, rgba(125,46,209,1) 0%, rgba(162,108,220,1) 100%);
		background: linear-gradient(to bottom, rgba(125,46,209,1) 0%, rgba(162,108,220,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d2ed1', endColorstr='#a26cdc', GradientType=0 );
	border-color: transparent */
}

.navbar-default .navbar-brand {
	color: #fff;
	font-family: "Montserrat",sans-serif;
    padding: 0px;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active {
	color: #fec503
}
.navbar-default .navbar-collapse {
	border-color: rgba(255,255,255,.02)
}
.navbar-default .navbar-toggle {
	    background-color: rgba(137,43,225,1);
    border-color: rgb(75, 11, 136);
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	    background-color: rgba(137,43,225,1);
    border-color: rgb(75, 11, 136);
}
.navbar-default .nav li a {
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	color:#fff
}
.navbar-default .nav li a:hover,.navbar-default .nav li a:focus {
	    color: #6e2cb2;
	outline: 0
}

.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fff;
	background-color: #fed136
}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #fec503
}

@media (min-width:768px) {
	.navbar-default
	{
		background-color: transparent;
		padding: 25px 0;
		-webkit-transition:padding .3s;
		-moz-transition:padding .3s;
		transition:padding .3s;
		border:0
	}
	.navbar-default .navbar-brand {
		font-size: 2em;
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		transition:all .3s
	}
	.navbar-default .navbar-nav>.active>a {
		border-radius: 3px
	}
	.navbar-default.navbar-shrink {
		background: rgba(125,46,209,1);
		background: -moz-linear-gradient(top, rgba(125,46,209,1) 0%, rgba(162,108,220,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(125,46,209,1)), color-stop(100%, rgba(162,108,220,1)));
		background: -webkit-linear-gradient(top, rgba(125,46,209,1) 0%, rgba(162,108,220,1) 100%);
		background: -o-linear-gradient(top, rgba(125,46,209,1) 0%, rgba(162,108,220,1) 100%);
		background: -ms-linear-gradient(top, rgba(125,46,209,1) 0%, rgba(162,108,220,1) 100%);
		background: linear-gradient(to bottom, rgba(125,46,209,1) 0%, rgba(162,108,220,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d2ed1', endColorstr='#a26cdc', GradientType=0 );
		padding: 10px 0 
	}
	.navbar-default.navbar-shrink .navbar-brand {
		font-size: 1.5em
	}
}

/*--------------------
3. Header
--------------------*/

header {
    background-image: url(../images/demo/bg-main.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
	header .intro-text {
	    padding-top: 300px;
	    padding-bottom: 0;
	}
}

header .intro-text .intro-lead-in {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
	header .intro-text .intro-lead-in {
	      font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
	}
}

header .intro-text .intro-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
	header .intro-text .intro-heading {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 54px;
	line-height: 40px;
	margin-bottom: 16px;
	}
	.container {
    padding-right: 15px;
    padding-left: 15px;}
	.search_bbar .col-lg-3.col-md-3.col-sm-12 {
	margin-bottom: 12px;   
	}         
	    
}


/*--------------------
4. Sections
--------------------*/

.section-title h2 {
    font-size: 34px;
    text-transform: uppercase;
}

.section-title p {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin: 20px 100px 60px 100px;
}

/*--------------------
4.1. About
--------------------*/

.mz-module-about h3 {
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color: #3A3A3A;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.mz-module-about p {
font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #969696;
}

.ot-circle {
height: 95px;
    width: 95px;
    text-align: center;
    line-height: 98px;
    color: #3E3E3E;
    /* border: 3px solid #000; */
    border-radius: 100px;
    /* background-color: #E8E8E8; */
    margin: 0 2px 4px;
    font-size: 31px;
}

/*--------------------
4.2. Skills
--------------------*/

.skills-text h2 {
	margin: 0 0 30px;
}

.skillbar-item {
    margin-bottom: 30px;	
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
}

.skillbar-score {
background-color: #dfdfdf;
    padding: 7px;
    text-align: center;
    color: #000000;
    font-weight: 300;
    float: right;
    width: 50px;
    height: 40px;
    vertical-align: middle;
 }

.skillbar-score .score {
    font-size: 20px;
}

.skillbar-score .percent {
    font-size: 13px;
}

.skillbar-bar {
display: block;
    background-color: #dfdfdf;
    height: 3px;
    width: 100%;
}

.skillbar h3 {
	font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #3A3A3A;
    letter-spacing: 2px;	
margin: 0;
    padding: 12px 0;
}

.skillbar-percent {
    color: #fff;
    background-color: #000000;
    float: left;
    height: 3px;
}

/*--------------------
4.3. Portfolio
--------------------*/

figure {
	position: relative;
    overflow: hidden;
    margin: 10px 1%;
    background: #726FB9;
    text-align: center;
    cursor: pointer;	
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;	
}

.ot-portfolio-item figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-bubba {
	background: #000;
	margin-bottom: 30px;
}

figure.effect-bubba img {
	opacity: 0.8;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	/* border-top: 1px solid #fff;
	border-bottom: 1px solid #fff; */
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	/* border-right: 1px solid #fff;
	border-left: 1px solid #fff; */
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
	padding-top: 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	float:left;
	width:100%;
	margin:0;  
}

figure.effect-bubba p {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
	padding: 0 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0); 
	
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

 figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
} 

/*--------------------
4.4. Dark Short section (counters, quote, etc)
--------------------*/

.dark-bg {
    background: #323232;
    color: #fff;
}

.bg-img1 {
    background-image: url(../images/demo/office-bg.jpg);
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.light-bg {
	background-color: #f8f8f8;
}

.overlay-dark:before, .overlay-light:before {
    background-color: rgba(32,32,32,0.8);
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.overlay-dark, .overlay-light {
    position: relative;
    z-index: 1;
}

.short-section {
    padding-top: 110px;
    padding-bottom: 110px;
}

.counter-item h2 {
    color: #fff;
    font-size: 60px;
    margin: 0;
}

.counter-item h6 {
    color: #fff;
    font-size: 19px;
    margin: 0;	
}

/*--------------------
4.5. Partners Slider
--------------------*/

.partner-logo {
    height: 80px;
    text-align: center;
}

.partner-logo img {
    height: 100%;
    width: auto !important;
}

/*--------------------
4.6. Team
--------------------*/

.team-item {
    text-align: center;
    background-color: #fff;
}

.team-item h3 {
    font-size: 16px;
    font-weight: 500;
	    margin-top: 8px;
		margin-bottom:0;
}

.team-image {
    overflow: hidden;
    height: 180px;
    object-fit: cover;
    float: left;
    margin-bottom: 12px;
    border-radius: 4px;
    width: 100%;
}
.team-image > img {
    width: 100%;
    max-width: unset !important;
}
.team-item .team-name {
    color: #C5C5C5;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.team-item .team-position {
    color: #000;
    font-size: 12px;
}

.team-item p {
   font-size: 13px;
    font-weight: 300;
    color: #9C9C9C;
    padding: 0;
}

/*--------------------
4.7. Contacts
--------------------*/

section#contact form {
    margin-top: 15px;
}
section#contact.form-group {
margin-bottom: 25px;
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 15px;
    border: 1px solid #BBBBBB;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    font-size: 13px;
}

.contact h3 {
    margin-bottom: 30px;
}

.contact p {
    font-size: 13px;
}

.contact .day {
    display: inline-block;
    width: 80px;
}

.contact i {
    margin-right: 5px;
}

/*--------------------
5. Footer
--------------------*/

footer {
    padding: 30px;
    background-color: #f7f7f7;    
}

footer p {
	color: #B7B7B7;
	margin: 0;
	font-size: 12px;
	text-transform: capitalize;
	font-weight: 500;
	letter-spacing: 1.6px;
	font-family: Lato;
	width:auto;
	float:left;
}

footer p a {
    color: #fff;
}

footer p a span {
    color: #FF9F46;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 700;
}

/*--------------------
6. Modal
--------------------*/

.modal-content {
	border-radius: 0;	
}
.modal-header .close {
	font-size: 30px;	
}
.modal-title {    
	text-transform: uppercase;
	font-size: 23px;
}

.modal-body {
	padding: 0;
}

.modal-body p {
	margin: 30px 20px;
	color: #2D2D2D;		
}

.modal-works {
font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    margin: 25px 20px;
}

.modal-works span {
	background-color: #FED136;
    margin-right: 15px;
    padding: 5px 10px;
}

/*--------------------
7. Components
--------------------*/

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
    color: #fff;
    background-color: #6e1cba;
    border-color: #6e1cba;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-xl {
    color: #fff;
     background-color: #726FB9;
    border-color: #726FB9;
    font-family: "Robot",sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

/* Back to top button
---------------------------------- */
#back-top {
    position: fixed;
    z-index: 1000;
    bottom: 40px;
    right: 50px;
}
#back-top a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #a74cfc;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    background: #711dbe;
}
/* arrow icon (span tag) */
#back-top i {
    margin-top: 15px;
    font-size: 28px;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
#back-top {
    position: fixed;
    bottom: 10px;
    right: 30px;
}
#back-top a {
    width: 40px;
    height: 40px;
}
#back-top i {
    margin-top: 7px;
    font-size: 20px;
}}



/*------------------------------*/

.navbar-collapse {width:100%;float:left;}
.menu>.nav>li {
    /* position: relative; */
    display: inline-block;
	    margin-left: 14px;
}
.menu li a {
    font-size: 16px;
    font-weight: 800;
    padding: 10px 25px;
}
.menu li a:hover{background:#6e2cb2;border-color:#6e2cb2;cursor:pointer;color: #fff !important;}
li.login a {
    border: 1px solid #eee;
    border-radius: 28px;
}
li.signup a {
    border: 1px solid #6e2cb2;
    border-radius: 28px;
	background:#6e2cb2;
}
.top-bar, .main-menu {
    float: left;
    width: 100%;
}
.main-menu {
    border-top: 1px solid #ffffff75;
    margin-top: 2px;
    font-size: 16px;
    padding-top: 5px;
}
.top-bar {
    padding: 10px 0;
}
.owl-carousel .owl-item .partner-logo img {
    display: inline;
}
.partner-text {
    font-size: 20px;
    text-transform: uppercase;
    padding: 12px 2em;
    color: #363536;
}
section#Favorites {
    padding-bottom: 0;
}
#Favorites .owl-theme .owl-controls {
    top: 35%;
}
#Favorites .owl-theme .owl-controls .owl-nav div.owl-next {
        top: 40%;
    background-color: #eee !important;
    border: 1px solid #0000004f;
    height: 63px;
    width: 60px;
    background-position: 11px 8px !important;
    right: -20px;
    background: url(../images/navigation-arr2.png)no-repeat;
    position: absolute;
	    font-size: 0;
    opacity: 0.3;
}
 #Favorites .owl-theme .owl-controls .owl-nav div.owl-prev{
    position: absolute;
    background: url(../images/navigation-arr1.png)no-repeat;
    top: 40% ;
    background-color: #eee ;
    border: 1px solid #0000004f;
    height: 63px ;
    width: 60px ;
    background-position: 11px 8px ;
	left:-20px;
	    font-size: 0;
    opacity: 0.3;

}
section#category-same {
    padding-top: 15px;
}
.owl-theme .owl-controls {
    width: 100%;
    position: absolute;
    top: 23%;
}
#category  .owl-theme .owl-controls .owl-nav di, #Favorites  .owl-theme .owl-controls .owl-nav div {
    display: block !important;
}
 #category  .owl-theme .owl-controls .owl-nav div.owl-next {
    position: absolute;
    top: 22%;
	right:/* -4% */0;
	background: url(../images/navigation-arr.png)no-repeat;
	height: 45px;
	width: 30px;
	font-size: 0;
	background-position: -30px 0px;
	opacity: 0.2;
	display: block !important;
}

#category  .owl-theme .owl-controls .owl-nav div.owl-prev{
    position: absolute;
    top: 22%;
	left:/* -4% */0;
    background: url(../images/navigation-arr.png)no-repeat;
    height: 45px;
    width: 30px;
    font-size: 0;
	opacity: 0.2;
	display: block !important;

} 

#category .owl-theme .owl-controls .owl-nav [class*=owl-]:hover, #Favorites .owl-theme .owl-controls .owl-nav [class*=owl-]:hover{background-color:none !important;}
#category .owl-dots, #Favorites .owl-dots{display:none !important;}
#category .slider-cat {
    padding: 2% 0 0 0;
}
section#category {
    border-bottom: 1px solid #eee;
}
section#Favorites  .section-title h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px;
	color: #363536;
}


section#Favorites .ot-portfolio-item figure figcaption, section#Favorites .ot-portfolio-item figure figcaption > a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    top: unset;
}
#category-same h2 {
	margin-bottom: 40px;
	text-align: left;
	text-transform: capitalize;
	font-weight: 500;
	color: #363536;
}
#category-same .team-text {
        text-align: left;
    float: left;
    width: 100%;
}
section#category-same.category-same2 {
    padding-top: 0;
}
section#category-same.category-same2 .container {
    border-top: 1px solid #eee;
    padding-top: 40px;
}
.container {
    padding-left: 0;
    padding-right: 0;
}
section#footer-main {
    background: #f7f7f7;
    border-bottom: 1px solid #e2e2e2;
    padding: 40px 0;
}
#footer-main ul {
    list-style: none;
    padding: 0;
}
#footer-main ul li {
    font-size: 16px;
    padding: 5px 0;
}
#footer-main ul li a {
    color: #bebdbd;
    font-size: 16px;
    font-weight: 300;
}
#footer-main ul li a:hover {
    color: #711dbe;text-decoration:none;
}
#footer-main  .social-icons {
    float: right !important;
}
#footer-main  .social-icons ul {
    text-align: right;
}
#footer-main  .social-icons ul li {
    display: inline-block;
    margin: 0 12px;
}
#footer-main .social-icons ul li a {
    font-size: 20px;
}
section, header, footer, .slider-container, .search_bbar {
    float: left;
    width: 100%;
}
.container {       
	width: 1290px;   
}

@media (max-width:1341px) {
    .container {
        width: 970px   
    }
}

@media (max-width:1024px) {
    .container {
        width: 750px   
    }
}
@media (max-width: 991px) {
	.search-sec{position: relative;top: -114px;background: rgba(26, 70, 104, 0.51);}
	 .search-sec{ background: #1A4668;}
	#category-same .col-md-3 {margin-bottom: 20px;float: left;width: 100%;}
	.search_bbar .col-lg-3.col-md-3.col-sm-12 {margin-bottom: 10px;}   
    .container {width: 750px   }	
	
}
@media (max-width: 768px) {
	.container {padding-right: 15px;padding-left: 15px;}
	.search_bbar .col-lg-3.col-md-3.col-sm-12 {margin-bottom: 12px;   }         
	.row {margin-right: 0;margin-left: 0;}
	footer .container {width: 90%;}
	#category .owl-theme .owl-controls .owl-nav div.owl-next, #Favorites .owl-theme .owl-controls .owl-nav div.owl-next{right:0;}
	#category .owl-theme .owl-controls .owl-nav div.owl-prev, #Favorites .owl-theme .owl-controls .owl-nav div.owl-prev{left:0;}    
	#footer-main .social-icons ul { text-align: left;}
	   
}
@media (max-width: 767px) {
	#footer-main ul li, #footer-main .social-icons ul {text-align: center;}
	#footer-main .social-icons{    width: 100%;text-align: center;}
	.container>.navbar-header {margin-left: 0;text-align:center;}
	.main-menu {margin-top: 0;padding-top: 0;}
	.navbar-brand>img {display: unset;margin: 0;padding: 0;}
	.navbar-default .navbar-brand{width:100%;}
	header {margin-top: 15%;} 
	
}




/* login start */

section.login-block, .login-block .row {
    padding: 0;    height: 100vh;    margin: 0;
}     
.login-block .row {margin: 0;}

section.login-block .banner-sec .banner{
	background:url('../images/banner2.jpg')no-repeat;
	width: 100%;
	height: 100%;
	float: left;
}

section.login-block .banner-sec {
    height: 100%;
    padding: 0;
}
section.login-block .banner-sec .banner .navbar-header {
    padding: 5% 5% 10%;
}
.banner-container {
    margin: 0 auto;
    width: 80%;
}
.banner-content {
    float: left;
    width: 100%;
    padding: 0% 6%;
}
.banner-content h2 {
	font-size: 58px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 28px;
}
.banner-content p {
    font-size: 44px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
}

.login-block .login-sec {
	padding: 3% 2%;
	height: 100vh;
	box-sizing: border-box;
}
.login-sec h2.text-center {
    text-transform: uppercase;
    font-weight: 500;
    color: #848080;
    font-size: 42px;
    margin-bottom: 34px;
}

.wrap-login100-form-btn button {
    width: 100%;
    font-size: 28px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 12px 0;
    font-weight: 600;
	background-color: #6e1cba;
	border-color: #6e1cba;
}

.login-sec .txt1 {
    font-size: 22px;
    color: #666;
    margin-bottom: 10px;
}




.container-login100-form-btn {     
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.login100-form {
  width: 100%;
}


.validate-input {
  position: relative;
}

.wrap-input100 {
  margin-bottom: 3%;
}

.label-input100 {

  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}




.input100 {
  font-size: 14px;
    color: #ada8a8;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    padding: 24px 15px;
    border: 1px solid #eee;
    border-radius: 4px;
}



input {
  outline: none;
  border: none;
}



.flex-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.login100-social-item {
  font-size: 18px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 5px;
  text-decoration:none;
}

.bg1 {
  background-color: #3b5998;
}


.bg3 {
  background-color: #ea4335;
}


/**** product detail page*******/


.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }


.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
    display: block;
    height: 100%;
    width: 100%;}
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }
	  h4.price {
    font-size: 24px;
    margin-top: 0;
}

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  line-height: 1.5em; }



.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #751fc4; }

.product-title, .rating, .product-description, .price, .vote {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; 
  font-size: 28px;
  }

p.vote {
    margin-top: 15px;
}
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
    height: 88px;
    overflow: hidden;
    border-radius: 0;
}
.add-to-cart  {
  background: #751fc4;
   border-radius: 0;
    padding: 15px 30px;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
		
.like{background:#000;  color: #fff;
-webkit-transition: background .3s ease;
transition: background .3s ease;
padding: 2px 10px;}
.like:hover {
background: #581298;
color: #fff; }
  .add-to-cart:hover {
    background: #581298;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }
.action {
    float: left;
    width: auto;
}
.qty {
    float: left;
    width: auto;
    margin-right: 10px;
}
.tooltip-inner {
  padding: 1.3em; }
.btn-minus, .btn-plus {
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 0px 0 0 17px;
    vertical-align: middle;
    background: #eeee;
    border-radius: 0;
    border-right: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    float: left;
}
.qty input {
    height: 50px;
    width: 100px;
    float: left;
    text-align: center;
    font-size: 20px;
}
section#Favorites.Related_Products {
    margin-bottom: 60px;
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 40px;
}
.action i {
    margin-right: 7px;
}


#category-same .well {
        background: none;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0 0 20px 0;
    float: left;
    width: 100%;
}
#category-same .well strong.text-left {
    font-size: 20px;
}
.view-main span {
    padding-right: 8px;
}
.filter-content label.form-check {
    width: 100%;
    float: left;
    font-weight: normal;
}
.filter-content {
    width: 100%;
    float: left;
    border: 1px solid #eee;
    padding: 6px 8px;
	    margin-bottom: 30px;
}
.filter-content strong.text-left {
    font-size: 18px;
    margin-bottom: 12px;
    float: left;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding-bottom: 4px;
}
.view-main {
    float: right;
    width: auto;
}
.view-main  .dropdown {
    float: right;
}
.listing-page .team-image > img {
    height: 100%;
}
section#category-same.listing-page {
    padding-top: 60px;
}
.listing-page .team-text {
    margin-bottom: 20px;
}
/*******************/








@media (max-width: 1300px) {
	.login-sec.signup-sec {padding: 0 2%;}   
	.login-sec.signup-sec h2.text-center {margin-bottom: 22px;}
}

@media (max-width: 767px) {
section.login-block .banner-sec .banner {background-size: cover; object-fit: cover;} 
section.login-block, .login-block .row { height: 70vh;}    
.banner-content h2 {font-size: 40px;margin-bottom: 10px;} 
.banner-content p {font-size: 26px;} 

}
@media (max-width: 480px) {
      

}



/*search box css start here*/
.search-sec{
    padding: 2rem;
}
form.search_bbar {
    padding-bottom: 200px;    
}
.search-slt{
	display: block;
	width: 100%;
	font-size: 1.8rem;
	line-height: 1.5;
	color: #55595c;
	background-color: #fff;
	background-image: none;
	height: calc(6rem + 2px) !important;
	border-radius: 4px;
	padding: 0 16px;
	
}
.wrn-btn{
	width: 100%;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	height: calc(6rem + 2px) !important;
	border-radius: 4px;
	background: rgba(137,43,225,1);
	background: -moz-linear-gradient(top, rgba(137,43,225,1) 0%, rgba(109,27,185,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(137,43,225,1)), color-stop(100%, rgba(109,27,185,1)));
	background: -webkit-linear-gradient(top, rgba(137,43,225,1) 0%, rgba(109,27,185,1) 100%);
	background: -o-linear-gradient(top, rgba(137,43,225,1) 0%, rgba(109,27,185,1) 100%);
	background: -ms-linear-gradient(top, rgba(137,43,225,1) 0%, rgba(109,27,185,1) 100%);
	background: linear-gradient(to bottom, rgba(137,43,225,1) 0%, rgba(109,27,185,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#892be1', endColorstr='#6d1bb9', GradientType=0 );
}

.wrn-btn:hover, .wrn-btn:focus, .wrn-btn:active{
	background: rgba(109,27,185,1);
	background: -moz-linear-gradient(top, rgba(109,27,185,1) 0%, rgba(109,27,185,1) 1%, rgba(137,43,225,1) 99%, rgba(137,43,225,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(109,27,185,1)), color-stop(1%, rgba(109,27,185,1)), color-stop(99%, rgba(137,43,225,1)), color-stop(100%, rgba(137,43,225,1)));
	background: -webkit-linear-gradient(top, rgba(109,27,185,1) 0%, rgba(109,27,185,1) 1%, rgba(137,43,225,1) 99%, rgba(137,43,225,1) 100%);
	background: -o-linear-gradient(top, rgba(109,27,185,1) 0%, rgba(109,27,185,1) 1%, rgba(137,43,225,1) 99%, rgba(137,43,225,1) 100%);
	background: -ms-linear-gradient(top, rgba(109,27,185,1) 0%, rgba(109,27,185,1) 1%, rgba(137,43,225,1) 99%, rgba(137,43,225,1) ;
	                  
}

      



